# Ignore everything by default
/*

# But don't ignore specific files
!app.py
!clearsheet.py
!attend_repo.py
!delete_sheet.py
!checksheet.py

# Don't ignore the templates folder and its contents
!templates/
!templates/*

# Don't ignore the static folder and its contents
!static/
!static/*
